@using LoginSolo.Dtos;
@model LoginDto

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">

</head>

<body>



	<div class="overlay">
		<!-- LOGN IN FORM by Omar Dsoky -->
		<form method="post">
			<!--   con = Container  for items in the form-->
			<div class="con">
				<!--     Start  header Content  -->
				<header class="head-form">
					<h2>Login </h2>
					<p> Please login with your username and password</p>
					<!--     A welcome message or an explanation of the login form -->
				</header>
				<!--     End  header Content  -->
				<br>
				<div class="field-set">


					<!--   user name Input-->
					<input class="form-input" type="text" asp-for="Username" placeholder="Your Username" required="">

					<br>

					<!--   Password -->


					<!--   Password Input-->
					<input class="form-input" type="password" asp-for="Password" placeholder="Your Password" required="">




					<br>
					<div class="text-white" asp-validation-summary="ModelOnly"></div>

					<!--        buttons -->
					<!--      button LogIn -->

					<button type="submit" class="log-in"> Login
					</button>
				</div>

				<!--   other buttons -->


				<!--   End Conrainer  -->
			</div>

			<!-- End Form -->
		</form>
	</div>




</body>

</html>
